@media screen and (max-width:767px){
    .custom-tab {
        order: 3;
        min-width: 100%;
        margin-top: 10px;
        text-align: center;
    } 
    .header-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .custom-tab .cus_org{
            margin-bottom: 10px;
    }
}